
@tailwind base; 
@tailwind components; 
@tailwind utilities;


@font-face {
  font-family: "FallCome" ;
  src: url('../public/fallscome.ttf');
}

@font-face {
  font-family: "Mont" ;
  src: url('../public/mont.ttf');
}

@font-face {
  font-family: "MontItalic" ;
  src: url('../public/montitalic.ttf');
}

